* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing:
  border-box; box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}

/*
 *  Nav
 */
.nav li {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0em;
}

/*
 *  Row
 */
.row {
  padding-bottom: 20px;
}

/*
 *  Main Content Area 
 */

#maincontent {
  background-color: #EEE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#maincontent p,li {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 0 1em;
}

#maincontent h1 {
  font-size: 2.2em;
}
#maincontent h2 {
  font-size: 2em;
}
#maincontent h3 {
  font-size: 1.2em;
}
#maincontent h4 {
  font-size: 1em;
}
#maincontent h5 {
  font-size: .8em;
}

#maincontent-inner {
  padding: 40px 60px;
}

@media (max-width: 980px) {
  #maincontent-inner {
    padding: 10px 10px;
  }
}

/*
 *  Preview
 */
 .preview h1 {
  font-size: 1.4em;
 }
 .preview h2 {
  font-size: 1.3em;
 }
 .preview h3 {
  font-size: 1.2em;
 }
 .preview h4 {
  font-size: 1.1em;
 }
 .preview h5 {
  font-size: 1em;
 }
 .preview p {
  font-size: 1em;
 }
.preview .content {
  height:7em;
  overflow: auto;            
}

/*
 *  Loading Screen 
 */
.overlay {              
  height: 100%;
  width: 100%;
  z-index: 1040;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
}

.overlay noscript {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 20%;
}

.overlay img {
  display: none;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.pre-fadeout {
  filter:alpha(opacity=90);
  opacity:0.9;
}

.fadeout {
  -webkit-animation: fadeout .25s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation:    fadeout .25s;
  -ms-animation:     fadeout .25s;
  filter:alpha(opacity=90);
  opacity: 0;
}

@-webkit-keyframes fadeout {
  0%   { opacity: 0.9; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeout {
  0%   { opacity: 0.9; }
  100% { opacity: 0; }
}
@-ms-keyframes fadeout {
  0%   { opacity: 0.9; }
  100% { opacity: 0; }
}